@import url(https://allfont.net/allfont.css?fonts=digital-7);

@keyframes flicker {

    0%,
    18%,
    22%,
    25%,
    53%,
    57%,
    100% {
        color: #fff;
        text-shadow: 0 0 7px #fff,
            0 0 10px #fff,
            0 0 21px #fff,
            0 0 42px #bc13fe,
            0 0 82px #bc13fe,
            0 0 92px #bc13fe,
            0 0 102px #bc13fe,
            0 0 151px #bc13fe;
    }

    20%,
    24%,
    55% {
        text-shadow: none;
    }
}


* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    background: #030303;
    color: white;
}

p {
    margin: 0.5em;
}


.background {
    background: url("https://wallpapercave.com/wp/wp5404226.jpg") no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: top;
    z-index: 1;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

.background1 {
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    background-position: center;
    z-index: 1;
    position: relative;
    background-attachment: fixed;
    background-repeat: no-repeat;
    
}

.b1 {
    opacity: 0.65;
}

h1 {
    
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    text-transform: uppercase;
    font-size: 4.4rem;
    font-family: 'Digital-7', arial;
    font-style: italic;
    animation: flicker 1.5s infinite alternate;
    border: 0.2rem solid #fff;
    border-radius: 2rem;
    padding: 0.5em;
    box-shadow: 0 0 .2rem #fff,
        0 0 .2rem #fff,
        0 0 2rem #bc13fe,
        0 0 0.8rem #bc13fe,
        0 0 2.8rem #bc13fe,
        inset 0 0 1.3rem #bc13fe;
}


h2 {
    text-align: center;
    font-family: 'Digital-7', arial;
    font-style: italic;
    font-size: 3rem;
}

.content {
    font-size: 1rem;
    line-height: 1.7;
    position: relative;
    background-size: cover;
    background-attachment: fixed;
    
}

@media only screen and (max-width: 1200px) {
    h1 {
        font-size: 2rem;
        letter-spacing: 0.1rem;
        text-align: center;
    }
    .content {
        text-align: center;
    }
}